<header class="navbar bg-primary text-primary-content">
  <div class="navbar-start">
    <a routerLink="/" class="btn btn-ghost">TP Angular</a>
    <a class="btn btn-ghost" routerLink="products">Products</a>
    <a class="btn btn-ghost" routerLink="cards">Cards</a>
  </div>

  <div class="navbar-end">
    @if (auth.isAuthenticated) {
      <a
        routerLink="/my-cart"
        class="btn btn-ghost"
        aria-label="My Shopping Card"
      >
        <app-shopping-cart-icon />
      </a>
    } @else {
      <a routerLink="/login" class="btn btn-ghost" aria-label="Login">
        <lucide-icon [img]="icons.LucideLogIn" class="size-6" />
      </a>
    }
  </div>
</header>
