<section
  class="rounded-2xl bg-white px-8 py-4 mx-4 lg:max-w-screen-lg lg:mx-auto shadow-lg border border-gray-100"
>
  <div class="grid grid-cols-4 grid-flow-row gap-4">
    <div class="font-bold">Nom</div>
    <div>{{ result().nom }}</div>

    <div class="font-bold">Prénom</div>
    <div>{{ result().prenom }}</div>

    <div class="font-bold">Adresse</div>
    <div>{{ result().adresse }}</div>

    <div class="font-bold">Code Postal</div>
    <div>{{ result().codePostal }}</div>

    <div class="font-bold">Ville</div>
    <div>{{ result().ville }}</div>

    <div class="font-bold">Téléphone</div>
    <div>{{ result().telephone }}</div>

    <div class="font-bold">Email</div>
    <div>{{ result().email }}</div>

    <div class="font-bold">Civilité</div>
    <div>{{ result().civilite }}</div>

    <div class="font-bold">Login</div>
    <div>{{ result().login }}</div>
  </div>
</section>
