<section
  class="rounded-2xl bg-white px-8 py-4 mx-4 lg:max-w-screen-lg lg:mx-auto shadow-lg border border-gray-100"
>
  <fieldset>
    <legend class="font-bold tracking-wide text-2xl mb-2">Exercice 2</legend>

    <form
      class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-4"
      [formGroup]="myForm"
      (ngSubmit)="onSubmit()"
    >
      <!-- Nom -->
      <label class="form-control">
        <div class="label">
          <span class="label-text">Nom</span>
        </div>
        <input
          type="text"
          name="nom"
          id="nom"
          class="input input-bordered"
          required
          formControlName="nom"
          placeholder="Nom"
          [class.input-error]="hasErrors('nom')"
        />
        <app-error-message [control]="formControls.nom" />
      </label>

      <!-- Prénom -->
      <label class="form-control">
        <div class="label">
          <span class="label-text">Prénom</span>
        </div>

        <input
          type="text"
          name="prenom"
          class="input input-bordered"
          id="prenom"
          required
          formControlName="prenom"
          placeholder="Prénom"
          [class.input-error]="hasErrors('prenom')"
        />
        <app-error-message [control]="formControls.prenom" />
      </label>

      <!-- Adresse -->
      <label class="form-control lg:col-span-2">
        <div class="label">
          <span class="label-text">Adresse</span>
        </div>
        <input
          type="text"
          name="adresse"
          id="adresse"
          class="input input-bordered"
          required
          formControlName="adresse"
          placeholder="Adresse"
          [class.input-error]="hasErrors('adresse')"
        />
        <app-error-message [control]="formControls.adresse" />
      </label>

      <!-- Code postal -->
      <div class="form-control">
        <div class="label">
          <span class="label-text">Code postal</span>
        </div>

        <input
          type="number"
          name="codePostal"
          id="codePostal"
          class="input input-bordered"
          required
          formControlName="codePostal"
          [class.input-error]="hasErrors('codePostal')"
          placeholder="Code Postal"
        />
        <app-error-message [control]="formControls.codePostal" />
      </div>

      <!-- Ville -->
      <label class="form-control">
        <div class="label">
          <span class="label-text">Ville</span>
        </div>

        <input
          type="text"
          name="ville"
          id="ville"
          class="input input-bordered"
          required
          formControlName="ville"
          placeholder="Ville"
          [class.input-error]="hasErrors('ville')"
        />
        <app-error-message [control]="formControls.ville" />
      </label>

      <!-- Téléphone -->
      <label class="form-control">
        <div class="label">
          <span class="label-text">Téléphone</span>
        </div>
        <input
          type="text"
          name="telephone"
          id="telephone"
          class="input input-bordered"
          required
          formControlName="telephone"
          [class.input-error]="hasErrors('telephone')"
          placeholder="Téléphone"
        />
        <app-error-message [control]="formControls.telephone" />
      </label>

      <!-- Email -->
      <label class="form-control">
        <div class="label">
          <span class="label-text">Email</span>
        </div>
        <input
          type="text"
          name="email"
          id="email"
          required
          class="input input-bordered"
          formControlName="email"
          placeholder="Email"
          [class.input-error]="hasErrors('email')"
        />
        <app-error-message [control]="formControls.email" />
      </label>

      <!-- Civilité -->
      <label class="form-control">
        <div class="label">
          <span class="label-text">Civilité</span>
        </div>

        <select
          name="civilite"
          id="civilite"
          required
          class="select select-bordered"
          (change)="changeCivilite($event)"
          formControlName="civilite"
          [class.input-error]="hasErrors('civilite')"
        >
          <option ngValue="male">Monsieur</option>
          <option ngValue="female">Madame</option>
        </select>

        <app-error-message [control]="formControls.civilite" />
      </label>

      <div class="divider lg:col-span-2"></div>

      <!-- Login -->
      <label class="form-control">
        <div class="label">
          <span class="label-text">Login</span>
        </div>
        <input
          type="text"
          name="login"
          id="login"
          required
          class="input input-bordered"
          formControlName="login"
          placeholder="Login"
          [class.input-error]="hasErrors('login')"
        />
        <app-error-message [control]="formControls.login" />
      </label>

      <!-- Mot de passe -->
      <label class="form-control col-start-1">
        <div class="label">
          <span class="label-text">Mot de passe</span>
        </div>

        <input
          type="password"
          name="motDePasse"
          id="motDePasse"
          class="input input-bordered"
          required
          formControlName="password"
          [class.input-error]="hasErrors('password')"
          placeholder="Mot de passe"
        />
        <app-error-message [control]="formControls.password" />
      </label>

      <!-- Confirmation -->
      <label class="form-control">
        <div class="label">
          <span class="label-text">Confirmation</span>
        </div>
        <input
          type="password"
          name="confirmation"
          id="confirmation"
          required
          class="input input-bordered"
          formControlName="passwordConfirmation"
          [class.error]="hasErrors('passwordConfirmation')"
          placeholder="Confirmation"
        />
        <app-error-message [control]="formControls.passwordConfirmation" />
      </label>

      <div class="lg:col-span-2 flex justify-end">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!myForm.valid"
        >
          Submit
          <lucide-icon [img]="icons.LucideSendHorizonal" />
        </button>
      </div>
    </form>
  </fieldset>
</section>
