<section
  class="rounded-2xl bg-white px-8 py-4 mx-4 lg:max-w-screen-lg lg:mx-auto shadow-lg border border-gray-100"
>
  <fieldset>
    <legend class="font-bold tracking-wide text-2xl mb-2">Exercice 2</legend>

    <form
      class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-4"
      [formGroup]="myForm"
      (ngSubmit)="onSubmit()"
    >
      <!-- Nom -->
      <div class="input">
        <label class="label" for="nom">Nom</label>
        <input
          type="text"
          name="nom"
          id="nom"
          required
          formControlName="nom"
          placeholder="Nom"
          [class.error]="hasErrors('nom')"
        />
        <app-error-message [control]="formControls.nom" />
      </div>

      <!-- Prénom -->
      <div class="input">
        <label class="label" for="prenom">Prénom</label>
        <input
          type="text"
          name="prenom"
          id="prenom"
          required
          formControlName="prenom"
          placeholder="Prénom"
          [class.error]="hasErrors('prenom')"
        />
        <app-error-message [control]="formControls.prenom" />
      </div>

      <!-- Adresse -->
      <div class="input lg:col-span-2">
        <label class="label" for="adresse">Adresse</label>
        <input
          type="text"
          name="adresse"
          id="adresse"
          required
          formControlName="adresse"
          placeholder="Adresse"
          [class.error]="hasErrors('adresse')"
        />
        <app-error-message [control]="formControls.adresse" />
      </div>

      <!-- Code postal -->
      <div class="input">
        <label class="label" for="codePostal">Code postal</label>
        <input
          type="number"
          name="codePostal"
          id="codePostal"
          required
          formControlName="codePostal"
          [class.error]="hasErrors('codePostal')"
          placeholder="Code Postal"
        />
        <app-error-message [control]="formControls.codePostal" />
      </div>

      <!-- Ville -->
      <div class="input">
        <label class="label" for="ville">Ville</label>
        <input
          type="text"
          name="ville"
          id="ville"
          required
          formControlName="ville"
          placeholder="Ville"
          [class.error]="hasErrors('ville')"
        />
        <app-error-message [control]="formControls.ville" />
      </div>

      <!-- Téléphone -->
      <div class="input">
        <label class="label" for="telephone">Téléphone</label>
        <input
          type="text"
          name="telephone"
          id="telephone"
          required
          formControlName="telephone"
          [class.error]="hasErrors('telephone')"
          placeholder="Téléphone"
        />
        <app-error-message [control]="formControls.telephone" />
      </div>

      <!-- Email -->
      <div class="input">
        <label class="label" for="email">Email</label>
        <input
          type="text"
          name="email"
          id="email"
          required
          formControlName="email"
          placeholder="Email"
          [class.error]="hasErrors('email')"
        />
        <app-error-message [control]="formControls.email" />
      </div>

      <!-- Civilité -->
      <div class="input">
        <label class="label" for="civilite">Civilité</label>
        <select
          name="civilite"
          id="civilite"
          required
          (change)="changeCivilite($event)"
          formControlName="civilite"
          [class.error]="hasErrors('civilite')"
        >
          <option ngValue="male">Monsieur</option>
          <option ngValue="female">Madame</option>
        </select>

        <lucide-icon [img]="LucideChevronDown" class="select-arrow w-6 h-6" />

        <app-error-message [control]="formControls.civilite" />
      </div>

      <hr class="divider lg:col-span-2" />

      <!-- Login -->
      <div class="input">
        <label class="label" for="login">Login</label>
        <input
          type="text"
          name="login"
          id="login"
          required
          formControlName="login"
          placeholder="Login"
          [class.error]="hasErrors('login')"
        />
        <app-error-message [control]="formControls.login" />
      </div>

      <!-- Mot de passe -->
      <div class="input col-start-1">
        <label class="label" for="motDePasse">Mot de passe</label>
        <input
          type="password"
          name="motDePasse"
          id="motDePasse"
          required
          formControlName="password"
          [class.error]="hasErrors('password')"
          placeholder="Mot de passe"
        />
        <app-error-message [control]="formControls.password" />
      </div>

      <!-- Confirmation -->
      <div class="input">
        <label class="label" for="confirmation">Confirmation</label>
        <input
          type="password"
          name="confirmation"
          id="confirmation"
          required
          formControlName="passwordConfirmation"
          [class.error]="hasErrors('passwordConfirmation')"
          placeholder="Confirmation"
        />
        <app-error-message [control]="formControls.passwordConfirmation" />
      </div>

      <div class="lg:col-span-2 flex justify-end">
        <button type="submit" class="button" [disabled]="!myForm.valid">
          Submit
          <lucide-icon [img]="LucideSendHorizontal" />
        </button>
      </div>
    </form>
  </fieldset>
</section>
