<section
  class="rounded-2xl bg-white px-8 py-4 mx-4 lg:max-w-screen-lg lg:mx-auto shadow-lg border border-gray-100"
>
  <fieldset>
    <legend class="font-bold tracking-wide text-2xl mb-2">Login</legend>

    <form
      class="flex flex-col gap-4"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <!-- Login -->
      <label class="form-control">
        <div class="label">
          <span class="label-text">Login</span>
        </div>
        <input
          type="text"
          name="login"
          id="login"
          required
          class="input input-bordered"
          formControlName="login"
          placeholder="Login"
          [class.input-error]="hasErrors('username')"
        />
        <app-error-message [control]="formControls.username" />
      </label>

      <!-- Mot de passe -->
      <label class="form-control col-start-1">
        <div class="label">
          <span class="label-text">Mot de passe</span>
        </div>

        <input
          type="password"
          name="motDePasse"
          id="motDePasse"
          class="input input-bordered"
          required
          formControlName="password"
          [class.input-error]="hasErrors('password')"
          placeholder="Mot de passe"
        />
        <app-error-message [control]="formControls.password" />
      </label>

      <div class="flex justify-end">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!loginForm.valid"
        >
          Submit
          <lucide-icon [img]="icons.LucideSendHorizontal" />
        </button>
      </div>
    </form>
  </fieldset>
</section>
