<main class="flex-1">
  <div class="flex flex-col justify-center px-6 py-32 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <lucide-angular
        [img]="icons.ShoppingCart"
        class="size-10 mx-auto text-primary"
      />
      <h2
        class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
      >
        Sign in to your account
      </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        @if (error()) {
          <span
            role="alert"
            class="bg-red-400 text-white inline-flex gap-2 items-center p-4 py-2 rounded-md w-full"
          >
            <lucide-angular
              [img]="icons.CircleAlert"
              class="size-5"
              aria-hidden="true"
            />
            <span>{{ error() }}</span>
          </span>
        }
        <app-form-container>
          <label appLabel for="email">Email address</label>
          <input
            appInput
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            [required]="true"
            formControlName="email"
          />
          <app-form-message [control]="f.email" />
        </app-form-container>

        <app-form-container>
          <div class="flex items-center justify-between">
            <label appLabel for="password">Password</label>
            <div class="text-sm">
              <a routerLink="/auth/forgot-password" class="link">
                Forgot password?
              </a>
            </div>
          </div>

          <div class="mt-2">
            <input
              appInput
              id="password"
              name="password"
              type="password"
              autocomplete="current-password"
              [required]="true"
              formControlName="password"
            />
          </div>
          <app-form-message [control]="f.password" />
        </app-form-container>

        <div>
          <button
            appButton
            type="submit"
            [disabled]="loginForm.invalid || loading()"
          >
            @if (loading()) {
              <lucide-angular
                [img]="icons.Loader2"
                class="size-5 animate-spin"
              />
            }
            Sign In
          </button>
        </div>
      </form>

      <p class="mt-10 text-center text-sm text-gray-500">
        Not a member?
        <a
          routerLink="/auth/register"
          queryParamsHandling="preserve"
          class="link leading-6"
        >
          Register now!
        </a>
      </p>
    </div>
  </div>
</main>
