<form
  [formGroup]="cardForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-wrap gap-3 w-full p-5"
>
  <div class="relative w-full flex flex-col">
    <label for="name" class="uppercase font-semibold text-sm"
      >Card owner name</label
    >
    <input
      type="text"
      id="name"
      required="name"
      formControlName="name"
      class="w-full p-2 border-2 border-gray-300 rounded-md"
      placeholder="Name"
      [class.error]="hasErrors('name')"
      autocomplete="cc-name"
    />
  </div>

  <div class="w-full flex flex-col">
    <label for="cnn" class="uppercase font-semibold text-sm">Card number</label>

    <div class="flex flex-col justify-center relative">
      <input
        type="tel"
        id="cnn"
        required="code"
        formControlName="code"
        class="w-full p-2 border-2 border-gray-300 rounded-md pl-10 peer focus-within:outline-blue-500"
        [class.error]="hasErrors('code')"
        placeholder="0000 0000 0000 0000"
      />

      <lucide-angular
        name="credit-card"
        class="w-5 h-5 text-gray-700 absolute left-2"
      />
    </div>
    <app-error-message [control]="formControls.code" />
  </div>

  <div class="w-full flex-1 flex flex-col">
    <label for="expiration" class="uppercase font-semibold text-sm"
      >Expiration date</label
    >

    <div class="flex flex-col justify-center relative">
      <input
        type="text"
        id="expiration"
        required="expiration"
        formControlName="expiration"
        class="w-full p-2 border-2 border-gray-300 rounded-md pl-10 peer focus-within:outline-blue-500"
        [class.error]="hasErrors('expiration')"
        appInputDate
      />

      <lucide-angular
        name="calendar"
        class="w-5 h-5 text-gray-700 absolute left-2"
      />
    </div>

    <app-error-message [control]="formControls.expiration" />
  </div>

  <div class="w-1/2 flex-1 flex flex-col">
    <label for="cvv" class="uppercase font-semibold text-sm">CVV</label>

    <div class="flex flex-col justify-center relative">
      <input
        type="number"
        id="cvv"
        required="cvv"
        formControlName="cvv"
        class="w-full p-2 border-2 border-gray-300 rounded-md pl-10 peer focus-within:outline-blue-500"
        placeholder="000"
        pattern="[0-9]{3}"
        [class.error]="hasErrors('cvv')"
        autocomplete="cc-csc"
        appInputCard
      />

      <lucide-angular
        name="lock-keyhole"
        class="w-5 h-5 peer-empty:text-gray-700 absolute left-2"
      />
    </div>

    <app-error-message [control]="formControls.cvv" />
  </div>

  <button
    type="submit"
    class="w-full p-2 bg-blue-500 text-white rounded-md disabled:bg-gray-300 disabled:text-gray-500 transition-colors duration-300 hover:bg-blue-600 hover:text-white"
    [disabled]="!cardForm.valid"
  >
    Submit
  </button>
</form>
